@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #182226;
    font-family: 'Oswald', sans-serif;
    color: #cccc;
    overflow-x: hidden;
}