h2 {
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 200;
}

p {
    font-size: 2.4rem;
    color: #cccc;
    letter-spacing: 1px;
}

.btn {
    width: fit-content;
    padding: 1rem 2rem;
    color: #cccc;
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
    background-color: rgba(173, 28, 24, 0.9);
    transition: all 0.3s;
}

.btn:hover {
    background-color: rgb(173, 28, 24);
    color: #ccc;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}